<header class="row">
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <div class="mx-3">
        <a class="navbar-brand logo" href="#">Store<span class="logo-dot">.</span></a>
      </div>
      <div class="mx-3">
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#latest">New Arrival</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Check Out</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</header>
