.text-bold {
  font-weight: bold;
}
.product-card {
  position: relative;
  padding: 0px;
  box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.1);

  img {
    border-radius: 10px;
    width: 100%;
    max-height: 375px;
    object-fit: cover;
  }

  .button-pro {
    position: absolute;
    bottom: 0px;
    right: 0px;
    background-color: #0d6efd;
    color: white;
    padding: 10px 20px;
    border-radius: 10px 0;
    z-index: 10;
    transition: all 0.2s ease-in-out;
  }
  .product-desc {
    position: absolute;
    top: 1rem;
    left: 1rem;
  }
  .product-card:hover .button-pro {
    background-color: #005cbf;
  }
}
.odd{
    color:white
}
.even{
    color: black;
}