<div class="wrapper">
  <app-header></app-header>
  <div class="container">
    <section class="row p-5">
      <div class="col-md-6 text-content">
        <h1 class="text-32 text-bold main-text">Store.</h1>
        <p class="sub-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas
          finibus leo leo, at imperdiet magna aliquam vitae.
        </p>
        <button class="btn btn-primary" href="#latest">Explore</button>
      </div>
      <div class="col-md-6">
        <img
          src="../../assets/0.png"
          height="400"
          width="auto"
          alt="Landing Page Image"
        />
      </div>
    </section>
  </div>

  <div class="latest-body p-5">
    <div class="container ">
      <app-latest id="latest"></app-latest>
    </div>
  </div>
  <app-footer></app-footer>
</div>
