<div class="container">
  <div class="row">
    <div class="col-md-6"><img src="../../assets/p1.jpg" /></div>
    <div class="col-md-6 desc">
      <div class="desc-name">name</div>
      <div class="desc-data">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam
        efficitur eleifend ex, in consectetur leo eleifend vitae. In quis magna
        venenatis, porttitor mauris ut, faucibus orci. Vivamus hendrerit felis
        et quam malesuada, quis tristique nisi vehicula. Nam justo erat, auctor
        non orci in, consectetur cursus metus. Curabitur ornare egestas orci,
        sit amet ultrices mauris laoreet in. Sed ac egestas diam. Praesent sed
        euismod orci. Aliquam quis neque tempus, rhoncus neque eget, sagittis
        sapien. Nulla facilisi. Sed at ligula nibh. Aliquam iaculis risus sed
        ligula laoreet, a imperdiet magna tincidunt. Mauris rutrum ullamcorper
        risus a elementum. Suspendisse mattis vitae ligula sit amet placerat.
        Quisque semper tristique gravida. Nullam efficitur faucibus ultrices.
        Donec accumsan massa ligula, et varius neque venenatis at.
      </div>
      <div class="desc-price">0999</div>
      <div class="desc-btn">
        <button class="btn btn-primary">Buy Now</button>
      </div>
    </div>
  </div>
</div>
